# 忽略Python虚拟环境文件
venv/
.env
*.env

# 忽略Python缓存文件
__pycache__/
*.py[cod]

# IPython Notebook的 checkpoints文件
.ipynb_checkpoints

# 忽略编辑器和IDE相关的临时和配置文件
.vscode/
.idea/
*.sublime-workspace
.project
.classpath
.cproject
.settings/

# 忽略编译后的字节码文件
*.py[co]
*.so

# 忽略Django和Flask等Web框架的特定文件
db.sqlite3
*.sqlite3
db.sqlite
*.log
media/
uploads/

# 忽略测试产生的覆盖报告
htmlcov/
.tox/
.coverage
.coverage.*

# 忽略pip和conda的缓存
**/__pycache__/
**/.cache/
**/*.egg-info/
**/*.egg
requirements.txt.lock

# 忽略Jupyter Notebook生成的大量文件
.ipynb_checkpoints/

# 忽略PyInstaller生成的大量文件
build/
dist/
